<!DOCTYPE html>
<html>
<head>
	<title>Minh's</title>
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="/images/favicon_io/favicon-32x32.png">
	<link rel="stylesheet" type="text/css" href="style/output.css">
	<link rel="stylesheet" type="text/css" href="style/components/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="flex items-center justify-between flex-wrap p-2 bg-teal-500">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<span class="font-semibold text-sm tracking-tight animate-bounce">Minh.Luong
			</span>
		</div>
		<div>
			<button id="menuButton" onclick="toggleMenu();">
				<svg class="animate-bounce"viewBox="0 0 100 70" width="30" height="30">
					<rect style="fill:rgb(255,255,255);"width="90" height="20"></rect>
					<rect style="fill:rgb(255,255,255);"y="30" width="90" height="20"></rect>
					<rect style="fill:rgb(255,255,255);"y="60" width="90" height="20"></rect>
				</svg>
			</button>
			<div id="menu" class="text-sm">
				<div>
					<a href="#">Hello</a>
				</div>
				<div>
					<a href="">Hi</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="flex py-4 px-4" >
		<div id="statement" class="flex text-sm text-black rounded-md w-40 shadow-xl px-2">Hello! I'm a software enthusiast
		</div>
	</div>
</body>
<script type="text/javascript" src="/client/home.js"></script>
</html>