<!DOCTYPE html>
<html>
<head>
	<title>Minh's</title>
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="/images/favicon_io/favicon-32x32.png">
	<link rel="stylesheet" type="text/css" href="style/output.css">
	<link rel="stylesheet" type="text/css" href="style/components/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="">
		<nav class="flex items-center justify-between flex-wrap p-2 bg-teal-400">
			<div class="flex items-center flex-shrink-0 text-white mr-6">
				<span class="font-semibold text-sm tracking-tight">Minh.Luong
				</span>
			</div>
			<div id="github-logo">
				<svg xmlns="https://raw.githubusercontent.com/Rush/Font-Awesome-SVG-PNG/master/white/svg/github.svg" width="25" height="25">
					
				</svg>
			</div>
			<div>
				<button id="menuButton" onclick="toggleMenu();">
					<svg class=""viewBox="0 0 100 70" width="30" height="30">
						<rect style="fill:rgb(255,255,255);"width="90" height="20"></rect>
						<rect style="fill:rgb(255,255,255);"y="30" width="90" height="20"></rect>
						<rect style="fill:rgb(255,255,255);"y="60" width="90" height="20"></rect>
					</svg>
				</button>
				<div id="menu" class="text-sm">
					<div>
						<a href="#">Hello</a>
					</div>
					<div>
						<a href="">Hi</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<div class="flex justify-center flex-col lg:flex-row">
		<div id="statement-0" class="text-sm text-black rounded-md shadow-xl p-4 text-sm mr-4  w-full lg:w-2/5 lg:justify-self-end lg:max-w-sm"><p>Hello! I'm Minh a software enthusiast. I've built a wide range of applications including web applications, search engines, AI systems and desktop games</p>
		</div>
		<div id="statement-1" class="flex text-sm text-black rounded-md w-full lg:w-3/5 lg:max-w-sm shadow-xl p-4 text-sm mr-4">I'm also passionate about investing! I've been investing in the stock market since i was 17 and I've achieved a compounded rate of return of 81% per annum over a period of 2 years. I mainly invest in small cap or microcap companies ( > $2 billion in market value), as these companies are the most inefficient priced
		</div>
	</div>
	<div class="flex flex-nowrap justify-center mt-8">
		<div class="flex ml-8 rounded-md shadow-xl p-4">
			<a href="https://spotify-to-mp3.herokuapp.com" target="__blank" class="self-center">
				<img src="/images/audio-converter-app.png" style="width:768px;height: 768px;" class="hover:scale-105 ease-in duration-300">
			</a>
		</div>
	</div>
	<div class="flex justify-center">
		<div class="text-center text-sm text-black rounded-md shadow-xl p-4 mt-8 w-full lg:max-w-3xl">
			<a href="/investment-blog">Investment Blog</a>
		</div>
	</div>
	<div class="h-64">
		
	</div>
</body>
<script type="text/javascript" src="/client/home.js"></script>
</html>