<!DOCTYPE html>
<html>
<head>
	<title>Minh's</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="/images/favicon_io/favicon-32x32.png">
	<link rel="stylesheet" type="text/css" href="style/output.css">
	<script type="text/javascript" src="/client/home.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="flex items-center justify-between flex-wrap p-6 bg-teal-500">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<span class="font-semibold text-xl tracking-tight">Minh.Luong</span>
		</div>
	</nav>
</body>
</html>